<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Luxury Restaurant</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,Sintony:400,700" rel="stylesheet">
   <link rel="stylesheet" href="../style/style.css">
   <link rel="stylesheet" href="../style/menu.css">
   <link rel="stylesheet" href="../style/navbar.css">
   <link rel="icon" href="../favicon_io/favicon.ico" type="image/x-icon">
</head>
<body id="page">
   <header class="header" id="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <a class="nav-item nav-link" href="/">Home</a>
             <a class="nav-item nav-link active" href="menu.html">Menu</a>
             <a class="nav-item nav-link" href="reservation.html">Reservation</a>
             <a class="nav-item nav-link" href="recipe.html">Recipe</a>
             <a class="nav-item nav-link" href="contacts.html">Contacts</a>
           </div>
         </div>
       </nav>
   </header>
   <main>
      <section class="special">
         <div class="special-title">
            <h3 class="today">Today's special</h3>
         </div>
      </section>
      <section>
         <div class="container mt-3">
            <div class="row justify-content-center">
               <div class="col-lg-6 text-center">
                  <h3 class="header-dish text-center">Fish dishes</h3>
                  <svg width="34" height="34" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                     clip-rule="evenodd">
                     <path
                        d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z" />
                  </svg>
               </div>
            </div>
         </div>
         <div class="container menu">
            <div class="row">
               <div class="col-lg-6 mt-3">
                  <div class="food">
                     <img src="../img/dish-fish.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name one
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>79.00
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="food">
                     <img src="../img/dish-fish2.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name two
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>99.00
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container mt-5">
            <div class="row justify-content-center">
               <div class="col-lg-6 text-center">
                  <h3 class="header-dish text-center mt-3">Vegetarian Dishes</h3>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                     clip-rule="evenodd">
                     <path
                        d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z" />
                  </svg>
               </div>
            </div>
         </div>
         <div class="container menu">
            <div class="row">
               <div class="col-lg-6">
                  <div class="food">
                     <img src="../img/dish1.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name one
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>109.00
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 mt-3">
                  <div class="food">
                     <img src="../img/dish.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name two
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>82.00
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container mt-5">
            <div class="row justify-content-center">
               <div class="col-lg-6 text-center">
                  <h3 class="header-dish text-center mt-3">Meat Dishes</h3>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                     clip-rule="evenodd">
                     <path
                        d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z" />
                  </svg>
               </div>
            </div>
         </div>
         <div class="container menu">
            <div class="row">
               <div class="col-lg-6 mt-3">
                  <div class="food">
                     <img src="../img/dish-meat.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name one
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>73.00
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="food">
                     <img src="../img/dish-meat2.jpg" alt="dish" class="food-img-menu
                           img-fluid">
                     <h3 class="food-title-menu">
                        Food Name two
                     </h3>
                     <p class="food-desc-menu">printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled.</p>
                     <div class="food-details-menu d-flex">
                        <div class="food-del-menu text-center">
                           Home <span>Delivary</span>
                        </div>
                        <div class="food-phone-menu">
                           <a>1-008 005 006</a>
                        </div>
                        <div class="food-price-menu ml-auto">
                           <sup><small>$</small></sup>86.00
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <footer class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 ">
                     <ul class="socials d-flex justify-content-center">
                        <li class="socials-item  socials-item-fb">
                           <a href="#"></a>
                        </li>
                        <li class="socials-item socials-item-tw">
                           <a href="#"></a>
                        </li>
                        <li class="socials-item socials-item-g">
                           <a href="#"></a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4">
                     <div class="left-line"> </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="all-rigth">
                        <p>2020 © All rights reserved</p>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="left-line"></div>
                  </div>
               </div>
            </div>
         </footer>
      </section>
   </main>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
</body>

</html>