<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Luxury Restaurant</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,Sintony:400,700" rel="stylesheet">
   <link rel="stylesheet" href="../style/style.css">
   <link rel="stylesheet" href="../style/recipe.css">
   <link rel="stylesheet" href="../style/navbar.css">
   <link rel="icon" href="../favicon_io/favicon.ico" type="image/x-icon">
</head>

<body>
   <header class="header" id="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <div class="navbar-nav">
             <a class="nav-item nav-link" href="/">Home</a>
             <a class="nav-item nav-link" href="menu.html">Menu</a>
             <a class="nav-item nav-link" href="reservation.html">Reservation</a>
             <a class="nav-item nav-link active" href="recipe.html">Recipe</a>
             <a class="nav-item nav-link" href="contacts.html">Contacts</a>
           </div>
         </div>
       </nav>
   </header>
   <main>
      <section>
         <div class="special">
            <div class="special-title">
               <h3 class="today">Enjoy amazing recipe</h3>
            </div>
         </div>
         <div class="container recipe">
            <div class="row justify-content-center">
               <div class="col-lg-10 mt-5 text-center block">
                  <img src="../img/dish-fish.jpg" alt="dish" class="food-img-recipe-first
                        img-fluid">
                  <h3 class="food-title-recipe first mt-5">
                     Salmon with Avocado
                  </h3>
                  <div class="text-recipe first-text">
                     <ul class="text-left mb-3">
                        <li>2 tbsp. olive oil, divided</li>
                        <li>1 1/4 lb. skinless salmon fillet</li>
                        <li>Kosher salt and pepper
                        </li>
                        <li>2 tbsp. red wine vinegar
                        </li>
                        <li>1 tbsp. olive oil
                        </li>
                        <li>1 15-ounce can lentils, rinsed
                        </li>
                        <li>1 small English cucumber, cut into pieces
                        </li>
                        <li>1 pink grapefruit, peel and pith removed, cut into pieces
                        </li>
                        <li>4 small radishes, thinly sliced
                        </li>
                        <li>6 c. arugula
                        </li>
                     </ul>
                     <p class="text-recipe">
                        Heat 1 tablespoon oil in a large nonstick skillet on medium. Cut salmon into 4 pieces and season
                        with 1/4 teaspoon each salt and pepper. Cook until golden brown, about 7 minutes. Turn salmon
                        over and continue cooking until just opaque throughout, about 2 minutes more. Meanwhile, in a
                        large bowl, whisk together vinegar and remaining Tbsp oil. Add lentils and toss to coat then
                        toss with cucumber, grapefruit and radishes. Fold in arugula and serve with salmon.
                     </p>
                     <span class="close close-first">Close</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container recipe">
            <div class="row justify-content-center">
               <div class="col-lg-10 mt-5 text-center block">
                  <img src="../img/dish-fish2.jpg" alt="dish" class="food-img-recipe-second
                        img-fluid">
                  <h3 class="food-title-recipe second mt-5">
                     Sushi Roll Recipe
                  </h3>
                  <div class="text-recipe second-text">
                     <ul class="text-left mb-3">
                        <li>2 tbsp. olive oil, divided</li>
                        <li>1 1/4 lb. skinless salmon fillet</li>
                        <li>Kosher salt and pepper
                        </li>
                        <li>2 tbsp. red wine vinegar
                        </li>
                        <li>1 tbsp. olive oil
                        </li>
                        <li>1 15-ounce can lentils, rinsed
                        </li>
                        <li>1 small English cucumber, cut into pieces
                        </li>
                        <li>1 pink grapefruit, peel and pith removed, cut into pieces
                        </li>
                        <li>4 small radishes, thinly sliced
                        </li>
                        <li>6 c. arugula
                        </li>
                     </ul>
                     <p class="text-recipe">
                        Heat 1 tablespoon oil in a large nonstick skillet on medium. Cut salmon into 4 pieces and season
                        with 1/4 teaspoon each salt and pepper. Cook until golden brown, about 7 minutes. Turn salmon
                        over and continue cooking until just opaque throughout, about 2 minutes more. Meanwhile, in a
                        large bowl, whisk together vinegar and remaining Tbsp oil. Add lentils and toss to coat then
                        toss with cucumber, grapefruit and radishes. Fold in arugula and serve with salmon.
                     </p>
                     <span class="close close-second">Close</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container recipe">
            <div class="row justify-content-center">
               <div class="col-lg-10 mt-5 text-center block">
                  <img src="../img/dish-fish.jpg" alt="dish" class="food-img-recipe-third
                        img-fluid">
                  <h3 class="food-title-recipe third mt-5">
                     Sushi Roll Recipe
                  </h3>
                  <div class="text-recipe third-text">
                     <ul class="text-left mb-3">
                        <li>2 tbsp. olive oil, divided</li>
                        <li>1 1/4 lb. skinless salmon fillet</li>
                        <li>Kosher salt and pepper
                        </li>
                        <li>2 tbsp. red wine vinegar
                        </li>
                        <li>1 tbsp. olive oil
                        </li>
                        <li>1 15-ounce can lentils, rinsed
                        </li>
                        <li>1 small English cucumber, cut into pieces
                        </li>
                        <li>1 pink grapefruit, peel and pith removed, cut into pieces
                        </li>
                        <li>4 small radishes, thinly sliced
                        </li>
                        <li>6 c. arugula
                        </li>
                     </ul>
                     <p class="text-recipe">
                        Heat 1 tablespoon oil in a large nonstick skillet on medium. Cut salmon into 4 pieces and season
                        with 1/4 teaspoon each salt and pepper. Cook until golden brown, about 7 minutes. Turn salmon
                        over and continue cooking until just opaque throughout, about 2 minutes more. Meanwhile, in a
                        large bowl, whisk together vinegar and remaining Tbsp oil. Add lentils and toss to coat then
                        toss with cucumber, grapefruit and radishes. Fold in arugula and serve with salmon.
                     </p>
                     <span class="close close-third">Close</span>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer class="footer" id="footer">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 ">
               <ul class="socials d-flex justify-content-center">
                  <li class="socials-item  socials-item-fb">
                     <a href="#"></a>
                  </li>
                  <li class="socials-item socials-item-tw">
                     <a href="#"></a>
                  </li>
                  <li class="socials-item socials-item-g">
                     <a href="#"></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="left-line"> </div>
            </div>
            <div class="col-lg-4">
               <div class="all-rigth">
                  <p>2020 © All rights reserved</p>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="left-line"></div>
            </div>
         </div>
      </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
</body>

</html>