<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Luxury Restaurant</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,Sintony:400,700" rel="stylesheet">
   <link rel="stylesheet" href="../style/style.css">
   <link rel="stylesheet" href="../style/reservation.css">
   <link rel="stylesheet" href="../style/navbar.css">
   <link rel="icon" href="../favicon_io/favicon.ico" type="image/x-icon">
</head>

<body id="page">
   <header class="header" id="header">
      <nav class="navbar-top">
         <ul class="navItems">
            <li class="navItem">
               <a class="navLink active" href="../index.html">Home</a>
            </li>
            <li class="navItem">
               <a class="navLink" href="menu.html">Menu</a>
            </li>
            <li class="navItem">
               <a class="navLink" href="reservation.html" style="border-bottom: 1px solid #fea100">Reservation</a>
            </li>
            <li class="navItem">
               <a class="navLink" href="recipe.html">Recipe</a>
            </li>
            <li class="navItem">
               <a class="navLink" href="contacts.html">Contacts</a>
            </li>
         </ul>
         <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
         </div>
      </nav>
   </header>
   <section class="special">
      <div class="special-title">
         <h3 class="today">Make your reservation</h3>
      </div>
   </section>
   <section>
      <div class="container form-container">
         <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-10">
               <form action="#" class="form m-auto text-center">
                  <input type="email" maxlength="40" placeholder="Email..." required>
                  <br>
                  <input type="text" maxlength="20" placeholder="Name..." required>
                  <br>
                  <input type="number" min="1" max="5" placeholder="Number of person..." required>
                  <br>
                  <textarea cols="40" rows="10" maxlength="250" placeholder="Message..." required></textarea>
                  <button>Send</button>
               </form>
            </div>
         </div>
      </div>
   </section>
   <footer class="footer" id="footer">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 ">
               <ul class="socials d-flex justify-content-center">
                  <li class="socials-item  socials-item-fb">
                     <a href="#"></a>
                  </li>
                  <li class="socials-item socials-item-tw">
                     <a href="#"></a>
                  </li>
                  <li class="socials-item socials-item-g">
                     <a href="#"></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-4">
               <div class="left-line"> </div>
            </div>
            <div class="col-lg-4">
               <div class="all-rigth">
                  <p>2020 © All rights reserved</p>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="left-line"></div>
            </div>
         </div>
      </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="../js/main.js"></script>
</body>

</html>